html,
body {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
}
header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: rgb(250, 205, 4);
  }
  header #logo {
    position: absolute;
    top: 0px;
    float: left;
    height: 60px;
    width: 170px;
    margin-left: 0%;
  }
  header #logo img{
    max-height: 100%;
  }
  header .menu {
    float: right;
    list-style: none;
    margin-top: 5px;
    margin-right: 33%;
  }
  header .menu li {
    float: left;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
  }
  header .menu li a {
    color: initial;
    text-decoration: initial;
    color: white;
  }
  
  figure {
    margin: 0 auto;
  }
  figure .imagem_fundo {
    background: url(img/usinas.jpg);
    background-size: cover;
    height: 100%;
    padding: 10px;

  }
  figure .titulo {
    color: #FFF;
    line-height: 0.9;
    text-shadow: 1px 1px black;
  }
  figure h1.titulo {
    font-size: 70px;
    letter-spacing: -5px;
    margin: 20% 20% 0 20%;
    padding-bottom: 20px;
  }
  figure h2.titulo {
    padding-top: 20px;
    font-size: 30px;
    margin: 0 30% 0 30%;
    border-top: 3px solid white;
    padding-bottom: 30px;
  }
  figure h1.titulo {
    margin-top: 40%;
  }
  figure h2.titulo {
    margin: 0 10% 0 10%;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }
  footer {
    background-color: #01acea;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 50px 0;
    color: #fff;
  }
  footer .container {
    padding: 30px 0 50px 0;
  }

